[Unit]
Description=Web Transcriber API Server (main.py)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/rxon/projects/web-transcriber
ExecStart=/usr/bin/env uvicorn main:app --host 0.0.0.0 --port 8000 --reload
Restart=on-failure
User=rxon

[Install]
WantedBy=multi-user.target
